.grid-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 9fr 2fr;
}

.content-box {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.map-control-box {
    display: grid;
    grid-column-start: 12;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: end;
}

.map-control {
    width: 50px;
    height: 100%;
}

.logo-container {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}